In [1]:
# Add Matplotlib inline magic command
%matplotlib inline

In [7]:
#Import dependencies.
import matplotlib.pyplot as plt
import pandas as pd
import os

In [13]:
#Files to load.

ride_data_to_load=os.path.join("Resources","ride_data.csv")
city_data_to_load=os.path.join("Resources","city_data.csv")

In [16]:
#Read city data
city_data_df=pd.read_csv(city_data_to_load)

city_data_df.head(10)

            city  driver_count   type
0    Richardfort            38  Urban
1   Williamsstad            59  Urban
2    Port Angela            67  Urban
3     Rodneyfort            34  Urban
4    West Robert            39  Urban
5   West Anthony            70  Urban
6    West Angela            48  Urban
7  Martinezhaven            25  Urban
8      Karenberg            22  Urban
9    Barajasview            26  Urban

In [15]:
#Read ride data.
ride_data_df=pd.read_csv(ride_data_to_load)
ride_data_df.head(10)

                 city             date   fare       ride_id
0  Lake Jonathanshire  1/14/2019 10:14  13.83  5.739410e+12
1  South Michelleport   3/4/2019 18:24  30.24  2.343910e+12
2  Port Samanthamouth   2/24/2019 4:29  33.44  2.005070e+12
3          Rodneyfort  2/10/2019 23:22  23.44  5.149250e+12
4          South Jack    3/6/2019 4:28  34.58  3.908450e+12
5        South Latoya  3/11/2019 12:26   9.52  1.995000e+12
6       New Paulville  2/27/2019 11:17  43.25  7.932080e+11
7        Simpsonburgh   4/26/2019 0:43  35.98  1.119540e+11
8     South Karenland    1/8/2019 3:28  35.09  7.995620e+12
9       North Jasmine    3/9/2019 6:26  42.81  5.327640e+12